{% extends 'pms/base.html' %}
{% load custom_filters %}

{% block title %}
    {% if object %} Edit Category {% else %} Add Category {% endif %}
{% endblock %}

{% block extra_head %}
    <!-- Optionally, add extra styles or scripts here -->
{% endblock %}

{% block body %}
{% if user.is_staff %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4>{% if object %} Edit Category {% else %} Add New Category {% endif %}</h4>
        </div>
        <div class="card-body">
            <!-- Category Form -->
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Category Name</label>
                    {{ form.name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="id_weight">Weight</label>
                    {{ form.weight|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="id_template">Templates</label>
                    {{ form.template|add_class:"form-control" }}
                </div>

                <button type="submit" class="btn btn-success">Save Category</button>
                <a href="{% url 'categories' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
